version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: proiect-colectiv
    environment:
      POSTGRES_DB: proiectcolectiv
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

